<nz-layout class="layout">
  <nz-header>
    <div class="header-container">
      <div class="left-group">
        <div class="logo"></div>
      </div>

      <div class="header-buttons-area">
        <nz-avatar
          [nzShape]="'square'"
          [nzSize]="'large'"
          [nzIcon]="'user'"
        ></nz-avatar>
      </div>
    </div>
  </nz-header>

  <nz-layout>
    <nz-layout>
      <nz-content>
        <div class="app-content-area"></div>
      </nz-content>

      <nz-footer>
        <div class="footer-text">Venera 2.0 - Quadient</div>
      </nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
